.kumulos-banner-compact {
    .kumulos-banner-body {
        margin-top: 0;
    }

    .kumulos-banner-actions {
        width: auto;
        margin-top: 0;
    }

    .kumulos-banner-close {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        margin-right: 10px;
    }
}
