.kumulos-banner-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

    position: fixed;
    left: 0;

    width: 100%;
    min-height: 80px;

    padding: $defaultBannerPadding;

    font-family: $defaultFont;

    backface-visibility: hidden;

    box-shadow: 0 0 3px 1px $shadow-color;

    &.kumulos-prompt-position-top {
        top: 0;
        animation: kumulos-slide-down 0.4s ease;
    }

    &.kumulos-prompt-position-bottom {
        bottom: 0;
        top: unset;
        animation: kumulos-slide-up 0.4s ease;
    }
}

@media only screen and (min-device-width: 480px) {
    .kumulos-banner-container {
        flex-flow: initial;
    }
}

.kumulos-banner-icon {
    width: 65px;
    height: 65px;
    margin-right: 10px;
}

.kumulos-banner-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.kumulos-banner-header {
    display: flex;
    font-size: $defaultBannerHeaderFontSizeMobile;
    line-height: $defaultBannerBodyLineHeightMobile;

    h1 {
        font-size: inherit;
        font-weight: bold;
        margin: 0 0 3px 0;
    }
}

@media only screen and (min-device-width: 480px) {
    .kumulos-banner-header {
        font-size: $defaultHeaderFontSize;
    }
}

.kumulos-banner-body {
    display: flex;
    flex-grow: 2;
    align-items: flex-start;
    font-size: $defaultBannerBodyFontSizeMobile;
    line-height: $defaultBannerBodyLineHeightMobile;
    overflow: hidden;
    margin-top: 10px;
}

@media only screen and (min-device-width: 480px) {
    .kumulos-banner-body {
        font-size: $defaultBodySize;
    }
}

.kumulos-banner-actions {
    display: flex;
    align-self: center;
    justify-self: flex-end;
    width: 100%;
    justify-content: flex-end;
    margin-top: 10px;
}

@media only screen and (min-device-width: 480px) {
    .kumulos-banner-actions {
        width: auto;
        margin-top: 0;
    }
}
