.kumulos-action-button {
    border: none;

    margin-left: 10px;
    padding: 7px 10px;

    min-width: 100px;

    text-transform: uppercase;
    font-size: $defaultButtonSize;
    font-weight: 600;

    &:hover {
        cursor: pointer;
    }
}

.kumulos-action-button-cancel {
    background: none;
    color: #555;

    &:hover {
        background: #eee;
    }
}

.kumulos-action-button-confirm {
    border-radius: 3px;
    box-shadow: 1px 3px 3px $shadow-color;

    background: rgb(76, 136, 224);
    color: #fff;

    &:hover {
        opacity: 0.8;
    }
}
