@supports(padding: unquote('max(0px)')) {
    .support-notch-left {
        padding-left: unquote('max(10px, env(safe-area-inset-left))');
    }
    .support-notch-right {
        padding-right: unquote('max(10px, env(safe-area-inset-right))');
    }
    .support-notch-top {
        padding-top: unquote('max(10px, env(safe-area-inset-top))');
    }
    .support-notch-bottom {
        padding-bottom: unquote('max(10px, env(safe-area-inset-bottom))');
    }
}