@supports(padding: unquote('max(0px)')) {
    .kumulos-safe-area-inset-left {
        padding-left: unquote('max(10px, env(safe-area-inset-left))');
    }
    .kumulos-safe-area-inset-right {
        padding-right: unquote('max(10px, env(safe-area-inset-right))');
    }
    .kumulos-safe-area-inset-top {
        padding-top: unquote('max(10px, env(safe-area-inset-top))');
    }
    .kumulos-safe-area-inset-bottom {
        padding-bottom: unquote('max(10px, env(safe-area-inset-bottom))');
    }
}