.kumulos-toast {
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $tooltip-background;
    z-index: 1100;
    padding: 12px;
    font-size: 16px;
    font-family: $defaultFont;
    color: #eee;
    border-radius: 8px 8px 0 0;
    animation: kumulos-toast-in-out 0.25s $quintEasing;
}
