$shadow-color: rgba(0, 0, 0, 0.54);
$tooltip-background: #222;
// https://easings.net/en#easeOutQuint
$quintEasing: cubic-bezier(0.23, 1, 0.32, 1);

$defaultFont: helvetica, sans-serif;
$defaultHeaderFontSize: 18px;
$defaultBodySize: 14px;
$defaultButtonSize: 14px;

$maskZIndex: 900;
$promptZIndex: 1000;

$defaultBannerHeaderFontSizeMobile: 12px;
$defaultBannerBodyFontSizeMobile: 12px;
