.kumulos-inapp-container {
    position: fixed;

    top: 100px;
    left: 50%;
    width: 300px;
    height: 600px;
    margin-left: -150px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    font-family: $defaultFont;

    animation: kumulos-anim-fade-in 0.2s ease-in;
    backface-visibility: hidden;

    box-shadow: 0 0 3px 1px $shadow-color;
}
