.kumulos-ddlbanner-container,
.kumulos-banner-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

    position: fixed;
    left: 0;

    width: 100%;
    min-height: 80px;

    padding: 10px;

    font-family: $defaultFont;

    animation: kumulos-anim-fade-in 0.2s ease-in;
    backface-visibility: hidden;

    box-shadow: 0 0 3px 1px $shadow-color;

    &.kumulos-prompt-position-top {
        top: 0;
    }

    &.kumulos-prompt-position-bottom {
        bottom: 0;
        top: unset;
    }
}

@media only screen and (min-device-width: 480px) {
    .kumulos-banner-container {
        flex-flow: initial;
    }
}

.kumulos-banner-icon,
.kumulos-ddlbanner-icon {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-right: 20px;
}

.kumulos-banner-content,
.kumulos-ddlbanner-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.kumulos-banner-header,
.kumulos-ddlbanner-header {
    display: flex;
    font-size: $defaultHeaderFontSize;

    h1 {
        font-size: inherit;
        font-weight: 400;
        margin: 0;
    }
}

.kumulos-banner-body,
.kumulos-ddlbanner-body {
    display: flex;
    flex-grow: 2;
    align-items: flex-start;
    font-size: $defaultBodySize;
    overflow: hidden;
    margin-top: 10px;
}

.kumulos-banner-actions,
.kumulos-ddlbanner-actions {
    display: flex;
    align-self: center;
    justify-self: flex-end;
    width: 100%;
    justify-content: flex-end;
    margin-top: 10px;
}

@media only screen and (min-device-width: 480px) {
    .kumulos-banner-actions {
        width: auto;
        margin-top: 0;
    }
}

.kumulos-ddlbanner-close {
}

.kumulos-ddlbanner-rating {
}
