.kumulos-rating {
    display: flex;
    height: 20px;
    font-size: 16px;
    color: rgba(128, 128, 0, 1);
    align-items: center;

    .kumulos-rating-star {
        position: relative;

        .kumulos-rating-halfstar {
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            overflow: hidden;
        }
    }

    .kumulos-rating-count {
        font-size: 12px;
        margin-left: 3px;
    }
}
