$shadow-color: rgba(0, 0, 0, 0.54);
$tooltip-background: #222;
// https://easings.net/en#easeOutQuint
$quintEasing: cubic-bezier(0.23, 1, 0.32, 1);

.kumulos-prompt {
    box-sizing: border-box;

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    z-index: 1000;
}

.kumulos-bell-container {
    position: fixed;

    &-bottom-left {
        bottom: 15px;
        left: 15px;
    }

    &-bottom-right {
        bottom: 15px;
        right: 15px;
    }
}

.kumulos-bell {
    transition: transform 0.2s $quintEasing,
        box-shadow 0.2s $quintEasing;
    will-change: transform, box-shadow, width, height;

    border-radius: 100%;
    border-color: #fff;
    background: rgb(76, 136, 224);
    box-shadow: 1px 2px 2px 0 $shadow-color;

    width: 60px;
    height: 60px;

    padding: 10px;

    // Note the scale/width/height in all states have been chosen such that they resolve to whole numbers.
    // This helps reduce blur of the SVG icon due to resterisation in Webkit.
    transform: scale(0.9);

    cursor: pointer;

    &:hover {
        transform: scale(1);
        box-shadow: 1px 2px 3px 1px $shadow-color;
    }

    &:active {
        transform: scale(0.8);
        box-shadow: 1px 2px 2px 0 $shadow-color;
    }

    animation: kumulos-anim-fade-in 0.2s ease-in;
    backface-visibility: hidden;

    svg {
        fill: #fff;
        animation: kumulos-anim-shake 0.4s cubic-bezier(.36, .07, .19, .97) both;
        animation-delay: 0.3s;
    }

    &:before {
        content: '';
        display: block;
        width: 85%;
        height: 85%;
        border: solid 1px;
        border-radius: 100%;
        ;
        border-color: inherit;
        ;
        position: absolute;
        top: 0;
        left: 0;
        margin: 7.5% 0 0 7.5%;
    }
}

.kumulos-bell-inner {
    border-radius: 100%;
}

.kumulos-tooltip-parent {
    .kumulos-tooltip {
        display: none;
    }

    &:hover .kumulos-tooltip {
        display: block;
    }
}

.kumulos-tooltip {
    background: $tooltip-background;
    position: absolute;
    top: 50%;
    padding: 8px 12px;
    font: 14px helvetica, sans-serif;
    color: #eee;
    border-radius: 6px;
    white-space: nowrap;
    z-index: 1100;
    pointer-events: none;
    transform: translateY(-50%);
    will-change: opacity, transform;

    &:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        right: 100%;
        border: solid transparent;
        border-width: 8px;
        margin-top: -8px;
    }

    &-right {
        left: calc(100% + 12px);
        animation: kumulos-reveal-right 0.2s $quintEasing;

        &:after {
            border-right-color: $tooltip-background;
            right: 100%;
        }
    }

    &-left {
        right: calc(100% + 12px);
        animation: kumulos-reveal-left 0.2s $quintEasing;

        &:after {
            border-left-color: $tooltip-background;
            left: 100%;
        }
    }
}

@keyframes kumulos-anim-shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-2px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(2px, 0, 0);
    }
}

@keyframes kumulos-anim-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes kumulos-reveal-left {
    0% {
        opacity: 0;
        transform: translate(10px, -50%);
    }

    100% {
        opacity: 1;
        transform: translate(0px, -50%);
    }
}

@keyframes kumulos-reveal-right {
    0% {
        opacity: 0;
        transform: translate(-10px, -50%);
    }

    100% {
        opacity: 1;
        transform: translate(0px, -50%);
    }
}